//COLORS
$primary-color: #212262;
$primary-color-light: #2c7380;
$primary-color-dark: #358c9c;
$color-white: #fff;
$color-gray: #777;
$color-gray-2: #999;
$color-gray-3: #333;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-orange-light: #358c9c;
$color-orange-dark: #212262;
$color-blue-light: #358c9c;
$color-blue-dark: #212262;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT SIZES 
$default-font-size: 1.6rem;