.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  color: $primary-color;
  height: 35rem;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    fill: $primary-color-light;
    width: 7rem;
    height: 7rem;
    margin-bottom: 1.5rem;
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
  }
}
